.TodoCounter {
    font-size: 24px;
    text-align: center;
}

.title {
    font-size: 16px;
    text-align: center;
    /* Glass */
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 18px );
    -webkit-backdrop-filter: blur( 18px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    /* ---------- */
    width: max-content;
    margin:  0 auto;
    margin-top: 10px;
    padding: 10px 50px;
    color: rgb(51, 49, 49);
}

